{% extends "AlastynAdminBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('/c3-0.4.10/c3.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-xs-offset-0 col-sm-offset-2">
        <h2>{{ 'statistics'|trans }}</h2>

        <div class="row">
            <h3>{{ 'kind_flows.title'|trans }}</h3>
            <div id="chart_kind_flows"></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>{{ 'country_flows.title'|trans }}</h3>
                <div id="chart_country_flows"></div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <h3>{{ 'country_wines.title'|trans }}</h3>
                <div id='chart_country_wines'></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/d3-master/d3.min.js') }}" charset="utf-8"></script>
    <script src="{{ asset('/c3-0.4.10/c3.min.js') }}"></script>

    <script type="text/javascript">
        var chart_kind_flows = c3.generate({
            bindto: '#chart_kind_flows',
            data: {
                columns: [
                    ["{{ 'kind_flows.valid'|trans }}", {{ stats_flows['valid'] }}],
                    ["{{ 'kind_flows.incorrect'|trans }}", {{ stats_flows['incorrect'] }}],
                    ["{{ 'kind_flows.forbidden'|trans }}", {{ stats_flows['forbidden'] }}],
                    ["{{ 'kind_flows.malformed'|trans }}", {{ stats_flows['malformed'] }}]
                ],
                type : 'pie'
            },
            pie: {
                label: {
                    format: function (value, ratio, id) {
                        return d3.format('')(value);
                    }
                }
            }
        });

        var chart_country_flows = c3.generate({
            bindto: '#chart_country_flows',
            data: {
                columns: [
                    {% set i=0 %}
                    {% for key_country, data_country in country_flows %}
                        {% set i = i + 1 %}
                        ["{{ key_country }}", {{ data_country }}] {% if i < country_flows|length %},{% endif %}
                    {% endfor %}
                ],
                type : 'pie'
            },
            pie: {
                label: {
                    format: function (value, ratio, id) {
                        return d3.format('')(value);
                    }
                }
            }
        });

        var chart_country_flows = c3.generate({
            bindto: '#chart_country_wines',
            data: {
                columns: [
                    {% set i=0 %}
                    {% for key_country, data_country in country_wines %}
                        {% set i = i + 1 %}
                        ["{{ key_country }}", {{ data_country }}] {% if i < country_flows|length %},{% endif %}
                    {% endfor %}
                ],
                type : 'pie'
            },
            pie: {
                label: {
                    format: function (value, ratio, id) {
                        return d3.format('')(value);
                    }
                }
            }
        });
    </script>
{% endblock %}
