{% extends "TestBundle::layout.html.twig" %}

{% block title %} {{ parent() }}Home{% endblock %}

{% block body %}
{{ parent() }}

<form method="post" class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="name">Nom du site</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Nom du site">
    </div>
    <div class="form-group">
        <label class="sr-only" for="rss_link">Lien du RSS</label>
        <input type="text" class="form-control" id="rss_link" name="rss_link" placeholder="Lien du RSS">
    </div>
    <button type="submit" class="btn btn-default">Enregistrer</button>
</form>
</br>

{% for feed in feeds %}
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="{{ feed.logo }}" alt="logo">
          <div class="caption">
            <h3>{{ feed.title }}</h3>
            <p><a href="{{ feed.site_url }}">Site</a>
            <p>{{ feed.language }}</p>
            <p>{{ feed.description }}</p>
            <p>date :{{ feed.date|date('d/m/Y H:i:s', "Europe/Paris") }}</p>
            <p>{{ feed.id }}</p>
          </div>
        </div>
      </div>
    </div>

    <h2>Les articles</h2>

    {% for item in feed.items %}
            <!--{{ item }}-->
            <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="thumbnail">
              {{ item.preimage|raw }}
              <div class="caption">
                <h3>{{ item.title }}</h3>
                {% if item.language %}<p><i>langue : {{ item.language }}<i></p>{% endif %}
                <p hidden>{{ item.id }}</p>
                <p>{% if item.author %}écrit par <strong>{{ item.author }}</strong>, {% else %} écrit {% endif %}
                le <i>{{ item.date|date('d/m/Y à H:i:s', "Europe/Paris") }}</i></p>

                {% set tmp = item.content | raw %}
                <p>{{ tmp|slice(0, 140)|striptags }}...</p>

                <p><a href="{{ item.url }}" class="btn btn-primary" role="button" target="_blank">Lire la suite</a></p>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endfor %}
{% endblock %}
