{% extends "AlastynAdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-xs-offset-0 col-sm-offset-3">
            <h2 style="text-align : center;">{{ 'list.region'|trans }}</h2>
            <table id="regions_table" class="table table-hover table-bordered table-stripped">
                <thead>
                    <tr>
                        <th>{{ 'name'|trans }}</th>
                        <th>{{ 'icon'|trans }}</th>
                        <th>{{ 'publication'|trans }}</th>
                        <th>{{ 'state'|trans }}</th>
                        <th>{{ 'operations'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for region in regions %}
                    {% if region.pays is null %}<tr class="danger">{% else %}<tr>{% endif %}
                        <td>{{ region.nom }}</td>
                        <td><img src="{{ asset("uploads/icons/#{region.icone}") }}" width="50" /></td>
                        <td>
                            {% if region.publication == 1 %}
                                {{ 'yes'|trans }}
                            {% else %}
                                {{ 'no'|trans }}
                            {% endif %}
                        </td>
                        <td>
                            {% if region.pays is null %}
                                <i>null</i>
                            {% else %}
                                {{ region.pays.abbr }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('_update_region', {'id': region.id}) }}"><i class="fa fa-pencil"></i></a>
                            <a href="{{ path('_delete_region', {'id': region.id}) }}"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function() {
        $('#regions_table').DataTable();
    } );
</script>
{% endblock %}