{% extends "AlastynFrontBundle::layout.html.twig" %}
{% block stylesheets %}{{ parent() }}
 <link href="{{ asset('/bundles/front/css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %} {{ parent() }}{{ 'home' |trans }}{% endblock %}

{% block body %}
	 <div class="brand">Alastyn</div>
	 <div class="address-bar">Blog de flux vigneron</div>

{{ parent() }}

<div class="container">
<h2>{{ 'wine_grower_last_article' |trans }}</h2>
{% set cont = 0 %}
{% for feed in feeds %}
	{% if feed == feeds[0] or feed == feeds[1] %}
		{% if cont == 0 %}
		<div class="row">
		<div class="col-md-offset-1 col-md-5">
		{% else %}
		<div class="col-md-5">
		{% endif %}
		    <div class="thumbnail">
				<ul class="img-list">
					<li>
						<p class="img-article_une">
						{{ feed.items[0].preimage|raw }}  <!--maybe use image du domaine(logo)-->
						</p>
						 <span class="text-content">
						    <p hidden>{{ feed.items[0].id }}</p>
						    {% if (feed.items[0].author is empty) == false %}
						    <p><strong>{{ feed.items[0].author }}</strong>,</p>
						    {% endif %} 
						    <i>{{ feed.items[0].date|date('d/m/Y H:i:s', "Europe/Paris") }}</i></p>
						    {% set tmp = feed.items[0].content | raw %}
							<p>{{ tmp|slice(0, 140)|striptags }}...</p>
							<p><a href="{{ feed.items[0].url }}" class="btn btn-primary btn-xs" role="button" target="_blank">{{ 'get_more' |trans }}</a></p>
						</span>
					</li>
				</ul>
				<b>{{ feed.items[0].title }}</b>
		    </div>
		</div>
		{% if cont == 1 %} 
		</div>
		<div class="row">
		{% endif %}
	{% else %}	
	{% if (cont - 2) % 4 == 0 %}
		</div>
		<div class="row">
	{% endif %}
			<div class="col-md-3">
			   	<div class="thumbnail">
					<ul class="img-list">
						<li>
							<p class="img-article">
							{{ feed.items[0].preimage|raw }} <!--maybe use image du domaine(logo)-->
							</p>
							<span class="text-content">
							    <p hidden>{{ feed.items[0].id }}</p>
								{% if (feed.items[0].author is empty) == false %}
							    <p class="author-rss"><strong>{{ feed.items[0].author }}</strong>,
								{% endif %}
							    <i>{{ feed.items[0].date|date('d/m/Y H:i:s', "Europe/Paris") }}</i></p>
							    {% set tmp = feed.items[0].content | raw %}
								<p class="content-rss">{{ tmp|slice(0, 140)|striptags }}...</p>
								<p><a href="{{ feed.items[0].url }}" class="btn btn-primary btn-xs" role="button" target="_blank">{{ 'get_more' |trans }}</a></p>
							</span>
						</li>
					</ul>
						<b class="title-rss">{{ feed.items[0].title }}</b>
			  	</div>
			</div>	
	{% endif %}
{% set cont = cont + 1 %}
{% endfor %}
	</div>
    </div>
    <!-- /.container -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Université d'Orléans 2016</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}