{% extends "TestBundle::layout.html.twig" %}

{% block title %} {{ parent() }}Home{% endblock %}

{% block body %}
{{ parent() }}

<form method="post">
    <input type="text" placeholder="Source" />
    <button>
        Envoyer
    </button>
</form>
</br>

{% for feed in feeds %}
	{% if feed == feeds[0] %}
		<div class="row">
			<div style="background-color: red;" class="col-md-6 col-md-offset-5">
				    <div class="col-md-offset-3 col-md-2">
					    <a href="{{ feed.site_url }}" class="thumbnail">
					      <img src="{{ feed.logo }}" alt="logo">
					    </a>
					</div>
					<div class="col-md-7">
					 	<b>{{ feed.title }}</b>
				        <p><a href="{{ feed.site_url }}">Site</a>,
				        </br>{{ feed.language }}  {{ feed.description }}
				   		</br>{{ feed.date|date('d/m/Y H:i:s', "Europe/Paris") }}</p>
				   		<hr>
				        <!--<p>{{ feed.id }}</p>-->
					</div>
				</div>
			</div>
		</div>
	{% else %}
			<div class="row">
			<div class="col-md-6 col-md-offset-5">
				    <div class="col-md-offset-3 col-md-2">
					    <a href="{{ feed.site_url }}" class="thumbnail">
					      <img src="{{ feed.logo }}" alt="logo">
					    </a>
					</div>
					<div class="col-md-7">
					 	<b>{{ feed.title }}</b>
				        <p><a href="{{ feed.site_url }}">Site</a>,
				        </br>{{ feed.language }}  {{ feed.description }}
				   		</br>{{ feed.date|date('d/m/Y H:i:s', "Europe/Paris") }}</p>
				   		<hr>
				        <!--<p>{{ feed.id }}</p>-->
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endfor %}
{% endblock %}
