{% extends "TestBundle::layout.html.twig" %}

{% block title %} {{ parent() }}Home{% endblock %}

{% block body %}
	{{ parent() }}
<form method="post">
    <input type="text" placeholder="Source" />
    <button>
        Envoyer
    </button>
</form>
</br>

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="{{ feed.logo }}" alt="logo">
      <div class="caption">
        <h3>{{ feed.title }}</h3>
        <p><a href="{{ feed.site_url }}">Site</a>
        <p>{{ feed.language }}</p>
        <p>{{ feed.description }}</p>
        <p>date :{{ feed.date|date('d/m/Y H:i:s', "Europe/Paris") }}</p>
        <p>{{ feed.id }}</p>
      </div>
    </div>
  </div>
</div>

<h2>Les articles</h2>

	{% for item in feed.items %}
			<!--{{ item }}-->
			<div class="row">
		  <div class="col-md-offset-3 col-md-6">
		    <div class="thumbnail">
		      {{ item.preimage|raw }}
		      <div class="caption">
		        <h3>{{ item.title }}</h3>
		        <p><i> langue {{ item.language }}<i></p>
		        <p hidden>{{ item.id }}</p>
		        <p><strong>Auteur {{ item.author }}</strong>, 
		        <i>{{ item.date|date('d/m/Y H:i:s', "Europe/Paris") }}</i></p>

		        {% set tmp = item.content | raw %}
				{{ tmp |slice(0, 140)}}...

		        <p><a href="{{ item.url }}" class="btn btn-primary" role="button" target="_blank">Lire la suite</a></p>
		      </div>
		    </div>
		  </div>
		</div>
	{% endfor %}

{% endblock %}
