{% extends "AlastynAdminBundle::layout.html.twig" %}

{% block content %}
	<div class="row">
        <div class="col-xs-12 col-sm-8 col-xs-offset-0 col-sm-offset-2">
            <h2 style="text-align : center;">Liste des flux</h2>
            <table class="table table-hover table-bordered table-stripped">
                <tr>
					<th>URL</th>
					<th>Status</th>
					<th>Publié</th>
					<th>Domaine</th>
					<th>Opérations</th>
				</tr>
				{% for flow in flows %}
	                <tr>
	                    <td>{{ flow.url }}</td>
	                    <td>{{ flow.status }}</td>
	                    <td>
	                    	{% if flow.publication == 1 %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
	                    </td>
	                    <td>{{ flow.domaine.nom }}</td>
	                    <td>
	                        <a href="{{ path('_update_flow', {'id': flow.id}) }}"><i class="fa fa-pencil"></i></a>
	                        <a href="{{ path('_delete_flow', {'id': flow.id}) }}"><i class="fa fa-trash"></i></a>
	                    </td>
	                </tr>
	            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}