{% extends "AlastynAdminBundle::layout.html.twig" %}

{% block content %}
	<div class="row">
        <div class="col-xs-12 col-sm-8 col-xs-offset-0 col-sm-offset-2">
            <h2 style="text-align : center;">{{ 'list.flow'|trans }}</h2>
            <table class="table table-hover table-bordered table-stripped">
                <tr>
					<th>{{ 'url'|trans }}</th>
					<th>{{ 'status'|trans }}</th>
					<th>{{ 'publication'|trans }}</th>
					<th>{{ 'domain'|trans }}</th>
					<th>{{ 'operations'|trans }}</th>
				</tr>
				{% for flow in flows %}
	                <tr>
	                    <td>{{ flow.url }}</td>
	                    <td>{{ flow.status }}</td>
	                    <td>
	                    	{% if flow.publication == 1 %}
                                {{ 'yes'|trans }}
                            {% else %}
                                {{ 'no'|trans }}
                            {% endif %}
	                    </td>
	                    <td>{{ flow.domaine.nom }}</td>
	                    <td>
	                        <a href="{{ path('_update_flow', {'id': flow.id}) }}"><i class="fa fa-pencil"></i></a>
	                        <a href="{{ path('_delete_flow', {'id': flow.id}) }}"><i class="fa fa-trash"></i></a>
	                    </td>
	                </tr>
	            {% endfor %}
            </table>
			{% include 'AlastynAdminBundle:Admin:paging.html.twig' %}
        </div>
    </div>
{% endblock %}