{%  extends "AlastynAdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-xs-offset-0 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 style="text-align : center;">{{ 'list.state'|trans }}</h2>
                </div>
                <div class="panel-body">
                    <p><strong>{{ 'domain'|trans }} : </strong>{{ suggestion.nomDomaine }}</p>
                    <p><strong>{{ 'exists'|trans }} : </strong>{{ suggestion.domaineExiste }}</p>
                    <p><strong>{{ 'surname'|trans }} : </strong>{{ suggestion.prenom }}</p>
                    <p><strong>{{ 'name'|trans }} : </strong>{{ suggestion.nom }}</p>
                    <p><strong>{{ 'link_rss'|trans }} : </strong>{{ suggestion.rss }}</p>
                    <p><strong>{{ 'website'|trans }} : </strong>{{ suggestion.site }}</p>
                    <p><strong>{{ 'email'|trans }} : </strong>{{ suggestion.courriel }}</p>
                    <p><strong>{{ 'address'|trans }} : </strong>{{ suggestion.adresse }}</p>
                    <p><strong>{{ 'postcode'|trans }} : </strong>{{ suggestion.codepostal }}</p>
                    <p><strong>{{ 'city'|trans }} : </strong>{{ suggestion.ville }}</p>
                    <p><strong>{{ 'region'|trans }} : </strong>{{ suggestion.region.nom }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}