{% extends "AlastynFrontBundle::layout.html.twig" %}
{% block stylesheets %}{{ parent() }}
 <link href="{{ asset('/bundles/front/css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %} {{ parent() }}Home{% endblock %}

{% block body %}
{{ parent() }}

{% set cont = 0 %}
{% for feed in feeds %}
	{% if feed == feeds[0] %}
		<div class="row">
		  <div class="col-md-offset-3 col-md-6">
		    <div class="thumbnail">
		    	<h3>{{ feed.items[0].title }}</h3>
				<ul class="img-list">
					<li>
					{{ feed.items[0].preimage|raw }}
					 <span class="text-content"><span>
					    <p><i> langue {{ feed.items[0].language }}</i></p>
					    <p hidden>{{ feed.items[0].id }}</p>
					    <p><strong>Auteur {{ feed.items[0].author }}</strong>, 
					    <i>{{ feed.items[0].date|date('d/m/Y H:i:s', "Europe/Paris") }}</i></p>
					    {% set tmp = feed.items[0].content | raw %}
						<p>{{ tmp|slice(0, 140)|striptags }}...</p>
						<p><a href="{{ feed.items[0].url }}" class="btn btn-primary" role="button" target="_blank">Lire la suite</a></p>
					</span></span>
				</ul>
		    </div>
		  </div>
		</div>
		<div class="row">
	{% else %}	
	{% if (cont - 1) % 4 == 0 %}
		</div>
		<div class="row">
	{% endif %}
			<div class="col-md-3">
			   	<div class="thumbnail">
			  		<b>{{ feed.items[0].title }}</b>
					<ul class="img-list">
						<li>
						{{ feed.items[0].preimage|raw }}
						<span class="text-content"><span>
						    <p><i> langue {{ feed.items[0].language }}</i></p>
						    <p hidden>{{ feed.items[0].id }}</p>
						    <p><strong>Auteur {{ feed.items[0].author }}</strong>, 
						    <i>{{ feed.items[0].date|date('d/m/Y H:i:s', "Europe/Paris") }}</i></p>
						    {% set tmp = feed.items[0].content | raw %}
							<p>{{ tmp|slice(0, 140)|striptags }}...</p>
							<p><a href="{{ feed.items[0].url }}" class="btn btn-primary" role="button" target="_blank">Lire la suite</a></p>
						</span></span>
					</ul>
			  	</div>
			</div>	
	{% endif %}
{% set cont = cont + 1 %}
{% endfor %}
	</div>
{% endblock %}
